.about-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 25%;
    min-height: 65vh;
}

.about-text {
    flex: 1;
    padding-right: 50px;
    color: #f7f7f7;
    font-family: 'Onest', sans-serif;
}

.about-title {
    font-size: 2.5rem;
    margin-bottom: 30px;
    line-height: 1.2;
}

.about-description {
    font-size: 1.2rem;
    margin-bottom: 30px;
    line-height: 1.6;
    max-width: 500px;
}

.about-btn {
    padding: 15px 30px;
    background-color: #343F3E;
    color: #f7f7f7;
    border: none;
    border-radius: 8px;
    font-size: 1rem;
    font-family: 'Onest', sans-serif;
    font-weight: bold;
    cursor: pointer;
    transition: 0.2s;
}

.about-btn:hover {
    background-color: #288784;
}

.about-img-box {
    flex: 1;
    display: flex;
    justify-content: center;
}

.about-img {
    height: 350px;
    width: 350px;
    object-fit: cover;
    border-radius: 50%;
}

@media (max-width: 768px) {
    .about-container {
        padding: 50px 20px;

        /*resmi üste geçiriyoruz*/
        flex-direction: column-reverse;
        justify-content: center;
    }

    .about-title {
        text-align: center;
    }

    .about-text {
        padding-right: 0;
        margin-bottom: 0;
        width: 100%;
    }

    .about-description {
        margin-left: auto;
        margin-right: auto;
        text-align: justify;
    }

    .about-img {
        margin-top: 40px;
        width: 250px;
        height: 250px;
    }

    .about-btn {
        width: 100%;
    }
}