.header {
    width: 100%;
    height: 55px;
    background-color: #181a1a;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #343F3E;
}

.title {
    font-family: 'Onest', sans-serif;
    font-weight: 400;
    color: #f7f7f7;
    font-size: 16px;

}

.header_mk {
    height: 75px;
    width: 75px;
    padding-left: 2%;
    margin-right: 8px;
}