.projects-container {
    padding: 0px 25%;
}

.projects-grid {
    display: grid;
    /* En az 300px genişliğinde kolonlar oluştur, sığdığı kadar yan yana koy */
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 30px;
    padding-top: 10px;
}

.project-card {
    background-color: #242626;
    border-radius: 12px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.image-wrapper {
    width: 100%;
    height: 270px;
    object-fit: cover;
}

.project-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.3s;
}

.project-img:hover {
    transform: scale(1.05);
}

.card-content {
    padding: 10px;
    /* display: flex;
    flex-direction: column;
    column-gap: 50px;
    flex-grow: 1; */
    padding-bottom: 20px;
}

.project-title {
    font-family: 'Onest', sans-serif;
    color: #f7f7f7;
    font-size: 1.17rem;
}

.project-desc {
    font-family: 'Onest', sans-serif;
    color: #f7f7f7;
    font-size: 1rem;
    margin-bottom: 20px;
}

.project-keywords {
    font-family: 'Onest', sans-serif;
    color: #288784;
    font-size: 0.9rem;
}

@media (max-width: 768px) {
    .projects-container {
        padding: 0 20px;
    }

    .projects-grid {
        gap: 20px;
        grid-template-columns: 1fr;
    }
}