.skills-container {
    padding: 40px 25%;
}

.skills-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 20px;
    margin-top: 30px;
}

.skill-card {
    background-color: #242626;
    border-radius: 8px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 12px;
}

.skill-icon-wrapper {
    width: 50px;
    height: 50px;
}

.skill-icon {
    width: 100%;

    object-fit: contain;
}

.skill-title {
    font-family: 'Onest', sans-serif;
    color: #f7f7f7;
    font-size: 0.8rem;
    font-weight: 500;
    margin: 0;
}

@media (max-width: 768px) {
    .skills-container {
        padding: 20px 20px;
    }

    .skills-grid {
        gap: 15px;
    }
}